@{
  Layout = "_Layout";
}
<div class="container">

<form action="/categories/@Model.Id/items" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  <label for="itemDescription">Item description</label>
  <input id="itemDescription" name="itemDescription" type="text">
  <button type="submit">Submit</button>
</form>
</div>